{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<body>
    <h1>Car recommendation system</h1>
    <h2>{{ team_name }}</h2>
    <div class="members-container">
        <ul class="team-members">
            {% for member in team_members %}
                <li>{{ member }}</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'filters' %}" class="btn">START</a>
</body>
</html>