{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>Form Results</h2>

    <table>
        <tr>
            <td>Max Mileage: {{ mileage }}km</td>
            <td><button class="button red-button">Autovit</button></td>
            <td><button class="button blue-button">Similar</button></td>
        </tr>
        <tr>
            <td>Max Price: {{ price }}$</td>
            <td><button class="button red-button">Autovit</button></td>
            <td><button class="button blue-button">Similar</button></td>
        </tr>
    </table>
</body>
</html>