<!DOCTYPE html>
<html>

{% load static%}

<head>

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>
        Car Recommendation System
    </title>

    <h1>Hello World!</h1>
</head>
<body>
<div class="content">
    <h1>Hello World!</h1>
    <p>Welcome to my first Django project!</p>
    <div>
        <form action = "" mehtod = "POST">
            {% csrf_token %}
            <label for="Cerere"> Ce cauti la o masina?: </label>
            <input id="Cerere" type='text' name='recomandare' placeholder="Ce cauti la o masina?" required>
            <input type='submit' value='OK' />
        </form>
    </div>
</div>
</body>
</html>